body {
  background-image: url("P:\internship project 26\Mental Health Prediction\pkl and html files\back image.jpg");
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 500px;
}